name: CI

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

jobs:
  shell-lint:
    runs-on: ubuntu-22.04
    container:
      image: koalaman/shellcheck-alpine:v0.9.0
    steps:
      - uses: actions/checkout@v4
      - name: shellcheck
        run: shellcheck -x bin/compile bin/detect bin/release bin/report

  functional-test:
    runs-on: ubuntu-22.04
    container:
      image: heroku/heroku:${{ matrix.stack_number }}-build
    strategy:
      matrix:
        stack_number: ["20", "22"]
    env:
      STACK: heroku-${{ matrix.stack_number }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Functional tests on heroku:${{ matrix.stack_number }}-build
        run: test/run

